# Python virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log

# Flask instance folder
instance/

# Build artifacts
dist/
build/

# Testing
.pytest_cache/
.coverage
